.mainBackground {
  background: url("../../../images/imgs/background.png") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 60px);
  padding-top: 60px;
}

.NotSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
  flex-direction: column;
  h3 {
    font-family: "Itim", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
    padding-bottom: 10px;
  }
}

.characterBackground {
  display: flex;
  min-height: calc(100vh - 60px);
}

.character {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 50vw;
  width: 100%;
  margin: 54px auto 0;

  .divImg {
    display: flex;
    position: absolute;
    opacity: 0.25;
    top: 100px;
    max-height: calc(100% - 100px);
    img {
      object-fit: contain;
    }
  }
  .characterText {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    h2,
    h4 {
      font-family: "Itim", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.25em;
      color: #000000;
    }

    h4 {
      font-size: 20px;
      line-height: 24px;
    }

    .characterDescription {
      max-height: 40vh;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(2px);
      border-radius: 4px;
      position: sticky;
      top: 30vh;
      left: auto;
      right: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      z-index: 1;
      width: 100%;
      max-width: 50vw;
      transition: all 0.3s ease-in-out;
      .characterDescriptionHeader {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin: 10px 0 30px;
      }
      .characterDescriptionAll {
        display: flex;
      }
      .characterDescriptionBody {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        font-family: "Scala Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
        color: #000000;
        text-align: justify;
      }
      .viewMore {
        background: url("../../../images/icons/classIcons/viewMore.svg") center
          center no-repeat;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.openDiv {
  background: #b4945b;
  border-radius: 50%;
  height: 176px;
  width: 176px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
  position: absolute;
  left: -100px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transform: translateY(calc(50vh - 180px));

  &:hover {
    filter: brightness(80%);
  }
}

.Race {
  justify-content: center;
  .openButton {
    transform: translateX(80%);
  }
}

.Class {
  right: -100px;
  left: auto;
  justify-content: flex-start;
}

.openButton {
  background: transparent;
  border: 0;
  border-radius: 50%;
  font-family: "Itim", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.closeButton {
  position: fixed;
  top: 60px;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3.5px);
}

.allClasses,
.allRaces {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 4;
  background: #b4945b;
  height: calc(100% - 60px);
  min-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allClasses {
  left: auto;
  right: 0;
}

.allClassesInside,
.allRacesInside {
  position: absolute;
  top: 5%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  overflow: overlay;
  max-width: 250px;
  &::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: #856d4369;
    border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background: #856d43;
    border-radius: 15px;
  }
}

.eachClass,
.eachRace {
  background: transparent;
  border: 0;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  color: #d9d9d9;
  font-family: "Scala Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  &:hover {
    color: #fff;
  }
}

.characterViewMore {
  .character {
    max-width: 90vw;
    .characterText {
      h2 {
        color: #555;
      }
      .characterDescription {
        max-width: 75vw;
        max-height: none;
        top: 165px;
        margin: 30px 0 60px;
        background: rgba(225, 210, 171, 0.9);
        box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.75);
        .characterDescriptionBody {
          text-overflow: ellipsis;
          overflow: none;
          display: block;
          -webkit-line-clamp: none;
          -webkit-box-orient: none;
        }
        .viewMore {
          background: url("../../../images/icons/classIcons/viewLess.svg")
            center center no-repeat;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .mainBackground {
    min-height: none;
  }
  .mobile {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .desktop {
    display: none !important;
  }

  .openDiv {
    left: 24px;
    background: #b4945b;
    border-radius: 4px;
    justify-content: center;
    width: auto;
    height: auto;
    transform: translateY(2vh);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    button {
      font-family: "Itim", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.1em;

      color: #ffffff;
    }
  }

  .Class {
    right: 24px;
    left: auto;
  }

  .Race {
    right: auto;
    left: 24px;
    .openButton {
      transform: none;
    }
  }

  .allClasses,
  .allRaces {
    min-width: 90vw;
    .allClassesInside,
    .allRacesInside {
      max-width: 53.3333vw;
      padding: 0 13vw;
    }
  }

  .character {
    max-width: none;
    width: 100%;
    margin-top: 75px;
    flex-direction: column-reverse;
    .divImg {
      position: relative;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      opacity: 1;
      h2 {
        position: absolute;
        font-family: "Itim", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.15em;

        color: #000000;
      }
      img {
        opacity: 0.25;
      }
    }
    .characterText {
      h4 {
        margin-left: 10px;
        letter-spacing: 0.1em;
      }
      .characterDescription {
        max-width: none;
        width: fit-content;
        max-height: none;
        .viewMore {
          display: none;
        }
        .characterDescriptionHeader {
          justify-content: center;
        }
        .characterDescriptionBody {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .eachClass,
  .eachRace {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 0;
  }
  .NotSelected {
    padding: 0 24px;
    h3 {
      letter-spacing: 0.1em;
    }
  }
}

@media screen and (min-width: 2000px) {
  .openButton {
    font-size: 30px;
    line-height: 36px;
  }

  .eachClass,
  .eachRace {
    font-size: 24px;
    line-height: 30px;
  }

  .NotSelected {
    font-size: 30px;
    line-height: 36px;
    h3 {
      font-size: 40px;
      line-height: 46px;
    }
  }
}
